name: Mobile CI

on:
  pull_request:
  push:
    branches:
      - main
      - mobile-ci # TEMP
    paths-ignore:
      - '**/.md'
  workflow_dispatch:

env:
  SPACEDRIVE_CUSTOM_APT_FLAGS: --no-install-recommends

jobs:
  lint:
    name: Typecheck & Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install pnpm
        uses: pnpm/action-setup@v2.2.4
        with:
          version: 7.x.x

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 17
          cache: 'pnpm'

      - name: Install workspace pnpm dependencies
        run: pnpm i --frozen-lockfile
      
      - name: Install mobile pnpm dependencies
        working-directory: ./apps/mobile
        run: pnpm i --frozen-lockfile

      - name: Perform typechecks
        working-directory: ./apps/mobile
        run: pnpm lint
  
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install pnpm
        uses: pnpm/action-setup@v2.2.4
        with:
          version: 7.x.x

      - name: Install Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 17
          cache: 'pnpm'
      
      - name: Setup Expo and EAS
        uses: expo/expo-github-action@v7
        with:
          expo-version: 6.x
          eas-version: latest
          packager: pnpm
          token: ${{ secrets.EXPO_TOKEN }}

      - name: Install workspace pnpm dependencies
        run: pnpm i --frozen-lockfile
      
      - name: Install mobile pnpm dependencies
        working-directory: ./apps/mobile
        run: pnpm i --frozen-lockfile
      
      - name: Build on EAS
        working-directory: ./apps/mobile
        run: eas build --platform android --non-interactive # TODO: Build for IOS too once Expo account is setup with Apple Developer account
